<form class="example-container" [formGroup]="form" #frmCliente="ngForm" (ngSubmit)="operar()">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">            
        <input matInput placeholder="Nombres" minlength="3" required formControlName="nombres">             
    </mat-form-field>

    <mat-form-field class="example-full-width">        
        <input matInput placeholder="modelo" required formControlName="modelo">           
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="marca" required formControlName="marca">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="color" required formControlName="color">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="frmCliente.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/pages/vehiculo' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>
</form>