<mat-toolbar>Registro de Ventas</mat-toolbar>



<div class="example-container">
    <mat-form-field>
        <mat-select placeholder="selecciona vehiculo" [(ngModel)]="idVehiculoSeleccionado">
            <mat-option *ngFor="let v of (vehiculos$ | async)" [value]="v.idVehiculo">
                {{v.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="example-container">
    <mat-form-field>
        <mat-select placeholder="selecciona cliente" [(ngModel)]="idClienteSeleccionado">
            <mat-option *ngFor="let c of (clientes$ | async)" [value]="c.idCliente">
                {{c.nombre}} {{c.apellido}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<!-- <mat-form-field>
    <input matInput placeholder="Precio Total" [(ngModel)]="precioTotal">
</mat-form-field> -->

<mat-form-field class="example-container">
    <input matInput [matDatepicker]="picker" placeholder="Escoger una fecha dd/mm/yyyy" 
    [max]="maxFecha" [(ngModel)]="fechaSeleccionada">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>



<div class="example-container">
    <mat-form-field>
        <mat-select placeholder="selecciona productos" [(ngModel)]="ProductoSeleccionado">
            <mat-option *ngFor="let p of (productos$ | async)" [value]="p">
                {{p.nombre}} {{p.marca}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<mat-form-field>
    <input matInput placeholder="Cantidad" [(ngModel)]="cantidad">
</mat-form-field>



<!-- <mat-form-field>
    <input matInput placeholder="sub Total" [(ngModel)]="subTotal">
</mat-form-field> -->

<button mat-raised-button color="primary" (click)="agregar()">Agregar Producto</button>

<div class="example-container">
    <button  mat-raised-button color="primary" style="width: 100%" (click)="aceptar()">finalizar venta</button>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="producto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Producto </th>
        <td mat-cell *matCellDef="let element"> {{element.producto.idProducto}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.producto.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="precioUnitario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio Unitario </th>
        <td mat-cell *matCellDef="let element"> {{element.producto.precioUnitario}} </td>
    </ng-container>

    <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
    </ng-container>

    <ng-container matColumnDef="subTotal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub Total </th>
        <td mat-cell *matCellDef="let element"> {{element.subTotal}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" (click)="removerProducto(element.producto.idProducto)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
 